/*text-align*/
/*горизонтальное выравнивание*/
p {
	text-align: left;
}
/*text-indent*/
/*отступ красная строка*/
p {
	text-indent: 2%;
}
/*line-height*/
/*высота строки*/
span {
	line-height: 3em;
}
/*vertical-align*/
/*вертикальное выравнивание*/
span {
	vertical-align: bottom
}
/*word-spacing*/
/*расстояние между словами*/
p {
	word-spacing: 0.4em
}
/*leter-spacing*/
/*расстояние между буквами*/
span {
	letter-spacing: 0.5em;
	}
/*white space*/
/*обработка пробелов*/
div {
	white-space: pre
}
/*text-transform*/
/*трансформирование текста*/
span {
	text-transform: capitalize;
}
/*text-decoration*/
/*декорирование текста*/
span {
	text-decoration: none;
}
/*формирование первой буквы первой строки абзаца*/
p:first-letter {
	font-size: 1.5em;
	padding: 2px 10px;
	margin-right: 5px;
	background: #faf4f4;
	border: 6px double;
	color: #e96;
	float: left;
	font-weight: bold;
	
}